{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Formateur référent</th>
            <th>Places prises</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
    </thead>
{% for session in sessions %}
    <tr scope="col">
        <td scope="'row"><a href=" {{ path('show_session', {'id':session.id}) }} "> {{ session.titre }} </a></td>
        {% if session.formateur %}
            <td scope="'row"><a href=" {{ path('show_formateur', {'id':session.formateur.id}) }} "> {{ session.formateur }} </a></td>
        {% else %}
            <td scope="'row">Pas de formateur référent</td>
        {% endif %}
        <td scope="'row"> {{ session.nbrPlacesLibres }} /  {{ session.nbrPlaces }}</td>
        <td scope="'row"> {{ session.dateDebutFormatee }} </td>
        <td scope="'row"> {{ session.dateFinFormatee }} </td>
        <td scope="'row">  <a href="{{ path('edit_session', {'id': session.id} ) }}">Edit</a> </td>
    </tr>
{% endfor %}
</table>

<p><a href="{{ path('new_session') }}">Ajouter une session</a></p> <br>

{% endblock %}
 {# à rajouter :
 - afficher nbrPlaces dispo / nbrPlaces #}