{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Formateur référent</th>
            <th>Places</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
    </thead>
{% for session in sessions %}
    <tr scope="col">
        <td scope="'row"> {{ session.titre }} </td>
        {% if session.formateur %}
            <td scope="'row"> {{ session.formateur }} </td>
        {% else %}
            <td scope="'row">Pas de formateur référent</td>
        {% endif %}
        <td scope="'row"> {{ session.nbrPlaces }} </td>
        <td scope="'row"> {{ session.dateDebutFormatee }} </td>
        <td scope="'row"> {{ session.dateFinFormatee }} </td>
        {# <td scope="'row">  <a href="{{ path('edit_stagiaire', {'id': stagiaire.id} ) }}">Edit</a> </td> #}
    </tr>
{% endfor %}
</table>

{# <p><a href="{{ path('new_stagiaire') }}">Ajouter un stagiaire</a></p> <br> #}

{% endblock %}
 {# à rajouter :
 - lien vers détail session
 - afficher nbrPlaces dispo / nbrPlaces #}