{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

<h1>Liste des formateurs</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
        </tr>
    </thead>
{% for formateur in formateurs %}
    <tr scope="col">
        <td scope="'row"><a href=" {{ path('show_formateur', {'id': formateur.id}) }} "> {{ formateur.prenom }} </a></td>
        <td scope="'row"> {{ formateur.nom }} </td>
        <td scope="'row"> {{ formateur.email }} </td>
        {# <td scope="'row">  <a href="{{ path('edit_formateur', {'id': formateur.id} ) }}">Edit</a> </td> #}
    </tr>
{% endfor %}
</table>

{# <p><a href="{{ path('new_formateur') }}">Ajouter un formateur</a></p> <br> #}

{% endblock %}