{% extends 'base.html.twig' %}

{% block title %}Liste des programmes{% endblock %}

{% block body %}

<h1>Liste des programmes</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Module</th>
            <th>Session</th>
        </tr>
    </thead>
{% for programme in programmes %}
    <tr scope="col">
        <td scope="'row"><a href=" {{ path('show_module', {'id': programme.module.id}) }} "> {{ programme.module.titre }} </a></td>
        <td scope="'row"><a href=" {{ path('show_session', {'id': programme.session.id}) }} "> {{ programme.session.titre }} </a></td>
    </tr>
{% endfor %}
</table>

{# <p><a href="{{ path('new_programme') }}">Ajouter un programme</a></p> <br> #}

{% endblock %}